<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sgr.owltube_v2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".frontend.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.player.PlayerActivity"
            android:theme="@style/PlayerActivityTheme"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity
            android:name=".frontend.search.search.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".frontend.search.result.SearchResultActivity" />
        <activity android:name=".frontend.setting.SettingActivity" />
        <activity android:name=".frontend.setting.OSSActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="98a562a271043765a96870b27d17730fa916a279" />
    </application>

</manifest>